.scroll-pane {
    -fx-background-color: rgba(255, 205, 112, 0.8);
    -fx-background-radius: 5px;
    -fx-border-color: rgba(0, 0, 0, 0.9);
    -fx-border-radius: 5px;
}

.scroll-pane .track {
    -fx-opacity: 0.8;
}

.scroll-pane .scroll-bar {
    -fx-background-color: rgba(255, 205, 112, 0.8);
    -fx-opacity: 0.8;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.vbox {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.slider {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.label {
    -fx-font-family: 'Kalam';
    -fx-font-size: 9pt;
    -fx-padding: 5 7 0 0;
}

.button {
    -fx-background-color: rgba(255, 205, 112, 0.8);
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-radius: 2px;  
    -fx-font-family: 'Kalam';

    -fx-background-radius: 2px;
    -fx-background-insets: 1 1 1 1;
}

.button:hover {
    -fx-background-color: rgba(206, 165, 90, 0.8);
}

.button:pressed {
    -fx-background-color: rgba(196, 157, 85, 0.8);
}

#close {
    -fx-background-color: rgba(255, 255, 255);
    -fx-background-radius: 5px;
    -fx-background-insets: 1 1 1 1;

    -fx-border-color: rgb(0, 0, 0);
    -fx-border-radius: 5px;  
}
    
#close:hover {
    -fx-background-color:rgba(216, 216, 216);
}

#close:pressed {
    -fx-background-color:rgba(172, 172, 172);
}
