.button {
    -fx-pref-width: 150px;

    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 5px;
    -fx-background-insets: 1 1 1 1;

    -fx-border-color: rgb(0, 0, 0);
    -fx-border-radius: 5px;  
}
    
.button:hover {
    -fx-background-color:rgba(216, 216, 216, 0.8);
}

.button:pressed {
    -fx-background-color:rgba(172, 172, 172, 0.8);
}



.vbox .tab-pane {
    -fx-background-color:rgba(255, 205, 112, 0.8);
    -fx-background-radius: 5px;
    -fx-border-color: rgba(0,0,0,0.8);
    -fx-border-width: 1;
    -fx-border-radius: 5px;
    -fx-padding: 20 20 20 20;
}

.hbox {
    -fx-padding: 20 20 20 20;

}

.label {
    -fx-text-fill: WHITE;
}